body{
    margin: 0px;
    pading: 0px;
    background: url('backg.jpg')
}

.left {
    border: 27px solid black;
}
.right{

    border: 2px solid black;
}
.mid{
    border: 2px solid black;
}